port {{ openvpn_port }}
proto {{ openvpn_protocol }}
dev tap

ca {{ openvpn_config_server_dir }}/ca.crt
cert {{ openvpn_config_server_dir }}/server.crt
key {{ openvpn_config_server_dir }}/server.key
dh {{ openvpn_config_server_dir }}/dh.pem

keepalive 10 120

tls-auth {{ openvpn_config_server_dir }}/ta.key 0
auth SHA256

cipher AES-256-GCM
data-ciphers AES-256-GCM:AES-128-GCM
data-ciphers-fallback AES-256-CBC

# Enable DHCP relay, delegate IP assignment to dnsmasq
mode server
dev tap
server-bridge {{ openvpn_gw_ip }} 255.255.255.0 {{ openvpn_ip_range_start }} {{ openvpn_ip_range_end }}
ifconfig {{ openvpn_gw_ip }} 255.255.255.0
client-to-client

# Push routes and DNS for VPN clients
push "route {{ vpn_subnet_id }} 255.255.255.0"
push "redirect-gateway def1"
push "dhcp-option DNS {{ dns_server }}"

persist-key
persist-tun

status /var/log/openvpn/status.log
log-append /var/log/openvpn/openvpn.log
verb 3
explicit-exit-notify 1
