# For tinc 
interface={{ vpn_iface }}

# For tinc dhcp range
dhcp-option={{ vpn_iface }},3,172.16.1.1
dhcp-option={{ vpn_iface }},6,172.16.1.1

dhcp-range={{ vpn_iface }},{{ vpn_dhcp_range_start_ip }},{{ vpn_dhcp_range_end_ip }},{{ vpn_dhcp_lease_time }}

# For tinc private ip
{% for host in groups['workers'] %}
dhcp-host={{ hostvars[host]['tinc_mac_addr'] }},{{ hostvars[host]['priv_ip'] }},{{ vpn_dhcp_lease_time }}
{%  endfor %}
