# Global Datacenter and Node Settings
datacenter = "{{ consul_cluster }}"               # Specify the datacenter name
node_name = "{{ inventory_hostname }}"              # Unique name for the node
bind_addr = "{{ priv_ip }}"           # Tinc VPN private IP for this node (replace with your IP)
client_addr = "0.0.0.0"              # Allows external Consul API and UI access
advertise_addr = "{{ priv_ip }}"      # Advertise Tinc VPN IP to other Consul nodes

server = false                  # This node is an agent

# Service Mesh Configuration
connect {
  enabled = true
}

# ACL Configuration
acl {
  tokens {
    agent = "{{ consul_agent_token }}"
  }
}

# Retry Join (to join the server)
retry_join = [
{% for host in groups['master'] %}
  "{{ hostvars[host]['priv_ip'] }}"
{% endfor %}
]

log_level = "{{ consul_log_level }}"
log_file = "{{ consul_log_path }}"
data_dir = "{{ consul_data_dir }}"
