#!/bin/sh

# Attach the {{ vpn_iface }} interface to bridge interface
ip link set dev {{ vpn_iface }} address {{ tinc_mac_addr }}
ip link set dev {{ vpn_iface }} up
ip addr add {{ priv_ip }}/{{ subnet_mask }} dev {{ vpn_iface }}

