[Unit]
Description=OpenVPN connection to %i
Documentation=man:openvpn(8) https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/openvpn --config {{ openvpn_config_server_dir }}/openvpn.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
WorkingDirectory={{ openvpn_config_dir }}

# Drop privileges to improve security
User={{ openvpn_user }}
Group={{ openvpn_group }}
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
LimitNPROC=10
DeviceAllow=/dev/net/tun rw

[Install]
WantedBy=multi-user.target
