auto {{ bridge_iface }}
{% if priv_ip != dhcp_server_ip%}
iface {{ bridge_iface }} inet dhcp
{% else %}
iface br0 inet static
    address {{ bridge_ip }}
    netmask 255.255.255.0
{% endif %}
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
    hwaddress ether {{ bridge_mac_addr }}
    pre-up ip link add br0 type bridge || true
    pre-up ip link set {{ vpn_iface }} master {{ bridge_iface }} || true
    pre-up ip link set {{ firecracker_iface }} master {{ bridge_iface }} || true
